{
  "plugins": [
    "@babel/plugin-transform-flow-strip-types"
  ],
  "presets": [
    [
      "next/babel",
      {
        "targets": {
          "browsers": ["last 2 versions"],
          "node": "8.13.0"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        ["@babel/plugin-transform-modules-commonjs"]
      ]
    }
  }
}
