{
  "plugins": [
    "@babel/plugin-transform-flow-strip-types"
  ],
  "presets": [
    [
      "next/babel",
      {
        "targets": {
          "browsers": ["last 2 versions"],
          "node": "6.11.5"
        }
      }
    ]
  ]
}
